.content {
  gap: 15px;
  width: 100%;
  height: 174px;

  .title {
    color: #373740;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .selectedLink {
    color: #9fa6b2;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .button {
    width: 100%;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: var(--Red);
    color: var(--Grey-Light);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
