.emailInput {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--bg-white);
  color: var(--text-sm-color);
  font-weight: 600;

  &::placeholder {
    color: var(--Linkbrary-gray20);
  }

  &:hover {
    border: 1px solid var(--Linkbrary-primary-color);
  }
}
