.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // width: 80vw;
  width: 1060px;
  height: 54px;
  padding: 15px 16px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 0 auto;
  margin-bottom: 40px;

  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f5f5f5;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .searchBar {
    width: 80vw;
    padding-left: 32px;
    padding-right: 32px;
  }

  .searchBar input {
    width: calc(100% - 64px);
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .searchBar {
    width: 80vw;
    padding-left: 32px;
    padding-right: 32px;
  }

  .searchBar input {
    width: calc(100% - 64px);
  }
}
