.content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .link {
    color: #9fa6b2;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .category {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    .categoryBtn {
      display: flex;
      border-radius: 8px;
      border: none;
      width: 264px;
      background-color: var(--white);
      cursor: pointer;
      align-items: center;
      padding: 0 10px;

      &.selected {
        background-color: var(--Linkbrary-gray10);
      }

      .name {
        color: #373740;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      .count {
        color: #9fa6b2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 10px;
      }
      .checkIcon {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        margin-left: auto;
      }
    }
  }

  .button {
    display: flex;
    width: 100%;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    color: var(--Grey-Light);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
