.searchText {
  width: 1060px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  color: var(--text-sm-color);
  padding-bottom: 40px;

  .boldText {
    font-size: 32px;
    color: black;
  }
}
